@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "react-image-crop/dist/ReactCrop.css";

/* Force dark mode */
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-status-connecting: var(--color-orange-300);
  --color-status-connected: var(--color-green-300);
  --color-status-error: var(--color-red-500);

  --color-form-error: var(--color-red-500);
  --color-form-label: var(--color-blue-200);
  --color-form-placeholder: var(--color-gray-600);

  /* These names are admittedly not very clear ... todo: clean up
   * Mostly used in app/lib/product-form-shared.ts */
  --color-form-focused: #c7c92c;
  --color-form-input-text-focused-invalid: var(--color-yellow-300);
  --color-form-input-border: #a0a7c3;
  --color-form-input-background: #30384f;
  --color-form-input-invalid-border: var(--color-form-input-border); /* Hide errors until edits */
  --color-form-input-invalid-bg: #68352c;
  --color-form-focused-input-invalid-border: #e75f5f;

  --color-form-fieldset-legend: var(--color-gray-200);
  --color-form-cancel-button: var(--color-teal-500);
  --color-form-open-fold: var(--color-orange-300);
  --color-form-close-fold: var(--color-teal-500);

  /* Camera app */
  --color-disable-camera: var(--color-green-800);
  --color-enable-camera: var(--color-red-500);
  --color-upload-file: var(--color-cyan-500);
  --color-take-snapshot: var(--color-yellow-600);
  --color-switch-camera: var(--color-blue-600);
  --color-rotate-image: var(--color-amber-600);
  --color-discard-image: var(--color-red-600);
  --color-toggle-cropping: var(--color-teal-500);
  --color-confirm-crop: var(--color-green-400);

  /* Others ... */

  --color-stock-unit: var(--color-green-200);
  --color-inactive: var(--color-amber-400);
  --color-missing: var(--color-amber-700);

  --color-alert: var(--color-amber-500);

  --color-out-of-stock: var(--color-amber-500);
  --color-stock-buttons-border: var(--color-yellow-300);

  --color-menu-active: var(--color-amber-200);
  --color-menu-inactive: var(--color-slate-500);

  --color-footer: var(--color-menu-inactive);

  --color-laser-line: var(--color-red-700);

  --color-location: var(--color-teal-300);
  --color-is-freezer: var(--color-blue-200);

  --color-check-active: var(--color-green-600);
  --color-check-inactive: var(--color-red-300);

  --color-queue-tile-barcode: var(--color-green-500);

  /* action button colours */
  --color-add: #61c68a;
  --color-consume-one: #e59f69;
  --color-consume: #e78840;
  --color-spoiled: #ff7676;
  --color-open: #57bcf1;
  --color-inventory: #f4b7ff;
  --color-shopping-list: #f2e078;
  --color-transfer: #f4e7ff;

  /* capture forms buttons */
  --color-queue-product-button: var(--color-teal-200);
  --color-update-queue-button: var(--color-teal-200);
  --color-create-product-button: var(--color-orange-300);
  --color-queue-product-button-text: var(--color-white);
}

/* @layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.06em;
  font-style: normal;
  line-height: 20px;
  padding: 0;
  margin: 0 auto;
}

@keyframes changeColor {
  from {
    background-color: #1d293d;
  }
  to {
    background-color: #395077;
  }
}

main.flash {
  animation: changeColor 0.3s infinite alternate running;
}

@keyframes flash-green {
  0% {
    background-color: rgba(16, 132, 93, 0.566);
  } /* emerald-500 with opacity */
  100% {
    background-color: transparent;
  }
}

.animate-flash {
  animation: flash-green 1.2s ease-out;
}

@keyframes laser-scan {
  0%,
  100% {
    transform: translateY(-2200%);
    opacity: 0;
  }
  75% {
    transform: translateY(-200%);
    opacity: 1;
  }
  100% {
    transform: translateY(500%);
    opacity: 0;
  }
}

.animate-laser {
  animation: laser-scan 1s linear infinite;
}

input[type="number"].hide-arrows::-webkit-outer-spin-button,
input[type="number"].hide-arrows::-webkit-inner-spin-button {
  appearance: none;
}
/* For Firefox */
input[type="number"].hide-arrows {
  appearance: textfield;
}

.info-tooltip {
  color: #222;
  background-color: rgb(0, 247, 255);
  z-index: 10000;
  max-width: 23rem;
  line-height: 1.5rem;
}

select.customisable {
  /* 1. Remove default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 2. Style your select box (optional) */
  /* padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white; */

  /* 3. Add custom caret SVG background */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px auto;
  padding-right: 30px; /* Make room for the arrow */

  /* appearance: base-select; */
  /* style the 'button' */

  &::picker(select) {
    appearance: base-select;
    /* style the 'listbox' */
  }

  &::picker-icon {
    /* style the 'button' icon */
  }

  & > button {
    display: flex;
    width: 100%;
    /* font-family: inherit;
    color: currentColor; */

    & > svg {
      margin: 0 0 0 auto;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &:not(:open) {
    /* style the 'button' when closed */

    &::picker(select) {
      /* style the 'listbox' when closed */
    }
  }

  &:open {
    /* style the 'button' when open */

    &::picker(select) {
      /* style the 'listbox' when open */
    }
  }

  & option {
    /* style the options */

    &::checkmark {
      /* style the checkmark on the checked option */
    }

    &:checked {
      /* style the checked option */
    }
  }
}

dl.product-info {
  display: grid;
  grid-gap: 4px 16px;
  grid-template-columns: max-content;

  & dt {
    font-weight: normal;
    letter-spacing: 0px;
  }
  & dd {
    margin: 0;
    grid-column-start: 2;
  }
}

label[for="file"] {
  background: #47a26b;
  border-radius: 25px;
  text-align: center;
  line-height: 1.5;
}

.spinner {
  animation-name: ckw;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-ccw {
  animation-name: ccw;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ccw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.remove-styles {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.hide-input {
  display: none;
  text-overflow: clip;
}
